<div class="card">
  <div class="card-body">
    <sk-custom-table
      [options]="table"
      [items]="profiles$ | async"
      (addItem)="createProfile($event)"
      (editItem)="editProfile($event)"
    ></sk-custom-table>
  </div>
</div>
