<form [formGroup]="scheduleForm" class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="description">{{ 'Title' | transloco }}</label>
      <input
        type="text"
        name="description"
        id="description"
        class="form-control"
        formControlName="description"
        placeholder="Descripción encuesta"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="survey">{{ 'Select survey' | transloco }}</label>
      <select
        class="custom-select form-control"
        formControlName="survey"
        name="survey"
        id="survey"
      >
        <option [ngValue]="" selected>--Seleccionar--</option>
        <option *ngFor="let survey of surveys$ | async" [ngValue]="survey">
          {{ survey.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="start-date">{{ 'Start date' | transloco }}</label>
      <sk-custom-datepicker
        [id]="'start-date'"
        name="start-date"
        formControlName="startDate"
      ></sk-custom-datepicker>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="due-date">{{ 'Due date' | transloco }}</label>
      <sk-custom-datepicker
        [id]="'due-date'"
        name="due-date"
        formControlName="dueDate"
      ></sk-custom-datepicker>
    </div>
  </div>
</form>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink> Individual </a>
    <ng-template ngbNavContent>
      <sk-custom-table
        [items]="employees$ | async"
        [options]="table"
        (updateSelection)="changeTableSelection($event)"
      ></sk-custom-table>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink> Por departamento </a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <app-tree-view-selector
            [collection]="organization$ | async"
            (updateSelection)="changeSelection($event)"
          ></app-tree-view-selector>
        </div>
        <div class="col-md-8"></div>
      </div>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
