<form [formGroup]="surveyForm" (ngSubmit)="save()">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">{{ 'title' | transloco }}</label>
            <input
              [class.invalid]="
                this.surveyForm.controls.title.invalid &&
                this.surveyForm.controls.title.touched
              "
              formControlName="title"
              type="text"
              name="title"
              id="title"
              class="form-control"
              placeholder="{{ 'newTitle' | transloco }}"
            />
            <div
              class="invalid-feedback"
              *ngIf="surveyForm.get('title').errors?.required"
            >
              {{ 'required message error' | transloco }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="surveyForm.get('title').errors?.minlength"
            >
              {{ 'min length 5 error message' | transloco }}
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="credits-cost">Costo/Créditos</label>
            <input
              type="number"
              class="form-control"
              formControlName="creditsCost"
              id="credits-cost"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="type">Categoría</label>
            <select
              formControlName="type"
              (ngModelChange)="updateSurveyType()"
              class="custom-select form-control"
              name="type"
              id="type"
              [compareWith]="compareFn"
            >
              <option disabled [ngValue]="undefined" selected>
                {{ 'selectOne' | transloco }}
              </option>
              <option *ngFor="let type of types$ | async" [ngValue]="type">
                {{ type.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="surveyForm.get('type').errors?.required"
            >
              {{ 'required message error' | transloco }}
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">{{ 'description' | transloco }}</label>
            <textarea
              formControlName="description"
              class="form-control"
              name="description"
              id="description"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <a class="add-measure-link float-end my-0" (click)="addMeasure()">
            {{ 'addMeasure' | transloco }}
          </a>
        </div>
      </div>
      <div formArrayName="measures">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li
            *ngFor="
              let measure of surveyForm.get('measures')['controls'];
              let i = index
            "
            [ngbNavItem]="i"
          >
            <a ngbNavLink>{{ measureName() }} {{ i + 1 }}</a>
            <ng-template ngbNavContent>
              <div class="container" [formGroupName]="i">
                <a
                  class="add-measure-link"
                  *ngIf="surveyForm.get('measures')['controls'].length > 1"
                  (click)="removeMeasure(i)"
                >
                  <i class="fas fa-times" aria-hidden="true"></i>
                  Eliminar dimensión
                </a>
                <app-measures-form
                  [type]="surveyForm.get('type').value"
                  [group]="measure"
                  [hasMeasureQuestion]="hasMeasureQuestion()"
                  (addQuestion)="addQuestion($event)"
                  (removeQuestion)="removeQuestion(i, $event)"
                  (updateAnswers)="updateSets()"
                  [sets$]="answerSets$"
                >
                </app-measures-form>
              </div>
            </ng-template>
          </li>
        </ul>
        <div class="mt-2" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary float" type="submit">
    {{ 'saveSurvey' | transloco }}
  </button>
</form>
