@import 'variables'

form
  padding-bottom: 20px

.measure-card
  margin-top: 20px
  margin-bottom: 20px

.add-measure-link
  font-weight: bolder
  margin-top: 20px
  margin-bottom: 20px
  color: var(--brand-primary) !important
  cursor: pointer

.float
  position: fixed
  bottom: 40px
  right: 40px

.search-icon
  margin-right: 20px

.lni-close, .search-icon
  cursor: pointer
