<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'questions' | transloco }}</h4>
    <sk-custom-table
      [options]="options"
      [items]="questions$ | async"
      (addItem)="createQuestion($event)"
      (editItem)="editQuestion($event)"
      (removeItem)="deleteQuestions($event)"
    ></sk-custom-table>
  </div>
</div>
