<div class="element-container">
  <span (click)="toggle()" class="chevron-space">
    <i
      *ngIf="item[service.config.childrenField].length"
      class="fas"
      [ngClass]="{
        'fa-chevron-down': showItems,
        'fa-chevron-right': !showItems
      }"
      aria-hidden="true"
    ></i>
  </span>
  <span
    (click)="toogleSelection(item[service.config.idField])"
    class="checkbox"
  >
    <i
      [ngClass]="{
        'fas fa-check-square text-primary': isSelected(),
        'far fa-square': !isSelected()
      }"
      aria-hidden="true"
    ></i>
  </span>
  {{ item[service.config.textField] }}
  <div class="tree-container">
    <div [hidden]="!showItems">
      <app-tree-view-item
        *ngFor="let i of item[service.config.childrenField]"
        [item]="i"
      ></app-tree-view-item>
    </div>
  </div>
</div>
