@import 'variables'

.element-container
  color: (--gray-600)
  font-size: 1rem

.tree-container
  display: block
  padding-left: 10px

.chevron-space
  min-width: 14px

.checkbox
  padding-left: 5px
  padding-right: 5px
