<div *ngIf="survey$ | async; else loading; let current" class="container">
  <app-survey-completion-form
    (completedForm)="saveCompletion($event)"
    [survey]="current"
  ></app-survey-completion-form>
</div>
<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
