<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'measures' | transloco }}
    </h4>
    <sk-custom-table
      [items]="measures$ | async"
      [options]="table"
    ></sk-custom-table>
  </div>
</div>
