<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'newSchedule' | transloco }}</h4>
    <app-schedules-form
      (saveSchedule)="saveSchedule($event)"
    ></app-schedules-form>
  </div>
</div>
