<div class="row">
  <div class="col-md-3 indicators">
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <i class="lni lni-users lni-32 text-primary" aria-hidden="true"></i>
          </div>
          <div
            class="number col-md-8 d-flex align-items-center justify-content-center"
          >
            {{ profiles$ | async }}
          </div>
        </div>
      </div>
      <div class="card-footer text-center font-weight-bold">
        {{ 'participants' | transloco }}
      </div>
    </div>
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <i
              class="lni lni-calendar lni-32 text-primary"
              aria-hidden="true"
            ></i>
          </div>
          <div
            class="number col-md-8 d-flex align-items-center justify-content-center"
          >
            {{ schedules$ | async }}
          </div>
        </div>
      </div>
      <div
        [routerLink]="['schedules']"
        class="card-footer text-center font-weight-bold"
      >
        {{ 'schedules' | transloco }}
      </div>
    </div>
    <div class="card text-left">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <i
              class="lni lni-control-panel lni-32 text-primary"
              aria-hidden="true"
            ></i>
          </div>
          <div
            class="number col-md-8 d-flex align-items-center justify-content-center"
          >
            {{ surveys$ | async }}
          </div>
        </div>
      </div>
      <div
        [routerLink]="['surveys']"
        class="card-footer text-center font-weight-bold"
      >
        {{ 'surveys' | transloco }}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <app-home-calendar></app-home-calendar>
  </div>
</div>
