.form-control
  font-size: inherit
  border-radius: .7rem
  height: unset
  padding-top: .7rem
  padding-bottom: .7rem
  border: 2px solid var(--gray-700)
  background-color: var(--gray-200)
  color: var(--gray-700)
  -webkit-transition: border 300ms ease-out
  -moz-transition: border 300ms ease-out
  -o-transition: border 300ms ease-out
  transition: border 300ms ease-out
  &.invalid
    border: 1px solid var(--danger-600) !important
  &:focus
    background-color: var(--gray-100)
    box-shadow: none
  &:disabled
    background-color: var(--gray-400)
