:root
  --brand-primary: #906899
  --brand-dark: #573A5E
  --brand-light: #C8A3D0

  --gray-100: #F7FAFC
  --gray-200: #EDF2F7
  --gray-300: #E2E8F0
  --gray-400: #CBD5E0
  --gray-500: #A0AEC0
  --gray-600: #718096
  --gray-700: #4A5568
  --gray-800: #2D3748
  --gray-900: #1A202C

  --success-100: #F0FFF4
  --success-200: #C6F6D5
  --success-300: #9AE6B4
  --success-400: #68D391
  --success-500: #48BB78
  --success-600: #38A169
  --success-700: #2F855A
  --success-800: #276749

  --danger-100: #FFF5F5
  --danger-200: #FED7D7
  --danger-300: #FEB2B2
  --danger-400: #FC8181
  --danger-500: #F56565
  --danger-600: #E53E3E
  --danger-700: #C53030
  --danger-800: #9B2C2C
  --danger-900: #742A2A

  --shadow-default: 4px 6px 10px rgba(0, 0, 0, 0.25)
  --shadow-primary: 4px 6px 30px var(--primary-500)
  --shadow-low: 0px 2px 8px rgba(0, 39, 90, 0.1) !important
  --shadow-medium: 0px 8px 16px rgba(0, 39, 90, 0.15) !important
  --shadow-high: 0px 16px 48px rgba(0, 39, 90, 0.2) !important
