@import url('https://fonts.googleapis.com/css?family=Inter:100,300,400,500')
@import 'variables'
@import 'inputs'
@import 'shadows'

body
  font-family: 'Inter', sans-serif
  font-size: 13px
  font-weight: 400
  background-color: var(--gray-100) !important

.pointer, .dropdown-item
  cursor: pointer !important

.float-button
  position: fixed
  bottom: 40px
  right: 40px
  .btn
    margin-left: 1rem

p
  font-family: 'Inter', sans-serif
  font-size: 1.1em
  line-height: 1.7em

a
  color: inherit
  text-decoration: none
  transition: all 0.3s
  &:hover, &:focus
    color: inherit
    text-decoration: none
    transition: all 0.3s

label
  font-weight: bold
  color: var(--brand-dark)

.btn
  border-radius: 7px
  font-weight: 200

.btn-rounded
  border-radius: 16px

.badge
  font-size: unset
  font-weight: 400

.btn-outline-primary
  color: var(--brand-primary)
  border-color: var(--brand-primary)

.btn-outline-primary:hover
  color: #fff
  background-color: var(--brand-primary)
  border-color: var(--brand-primary)

.badge-primary
  color: var(--brand-dark)
  background-color: var(--brand-light)

.badge-success
  color: var(--success-700)
  background-color: var(--success-200)

.badge-false
  color: var(--gray-800)
  background-color: var(--gray-200)

.badge-secondary
  color: #4e5557
  background-color: #9DAAAE

.btn-primary
  background-color: var(--brand-primary)
  border-width: 0
  transition: all 0.3s
  &:focus
    box-shadow: 0 0 0 0.2rem var(--brand-light)
  &:hover, &:focus
    background-color: var(--brand-light)
    transition: all 0.3s
    border-width: 0
    border-color: transparent
  &:disabled
    background-color: var(--brand-light)
    border-color: var(--brand-light)

.card, .breadcrumb
  border-radius: 10px
  box-shadow: var(--shadow-medium)
  border-color: transparent

.card-primary
  .card-header
    background-color: var(--brand-light)
    color: var(--brand-dark)
    font-weight: bold
    border-bottom-width: 0

.text-primary
  color: var(--brand-primary) !important

.float
  position: fixed
  z-index: 999
  bottom: 40px
  right: 40px

td
  vertical-align: middle

.accordion
  .card
    border-radius: 0
    border-right-width: 0
    border-left-width: 0
  .card-header
    padding: 0
    background-color: transparent
    .btn-link, .btn-link:hover
      text-decoration: none
      color: var(--text-dark-color)

.nav-tabs
  border-bottom: none

ul.nav-pills .nav-link.active
  background-color: var(--brand-primary)

[ngbnav] a.nav-link
  border-width: 0 0 1px 0

.mt-2.tab-content
  overflow-y: scroll

[ngbnav].nav-tabs
  border-bottom: 1px solid var(--gray-300)

[ngbnav][orientation="vertical"]
  border-bottom: 0
  min-width: 20%

.card > [ngbnav] > li.nav-item .nav-link
  padding: 1rem

[ngbnav] > li.nav-item > a.nav-link.active
  border-bottom: 3px solid #fff
  font-weight: 600
  border-radius: 0
  color: #fff

[ngbnav] > li.nav-item > a.nav-link
  background-color: inherit
  color: var(--gray-200)
  font-weight: 400

.card
  [ngbnav].nav-tabs
    border-bottom: 1px solid var(--gray-600)

  [ngbnav] > li.nav-item > a.nav-link.active
    border-bottom: 2px solid var(--brand-primary)
    font-weight: 600
    border-radius: 0
    color: var(--brand-dark)

  [ngbnav] > li.nav-item > a.nav-link
    background-color: inherit
    color: var(--gray-600)
    font-weight: 400

.card-footer, .modal-footer
  border-top: none
  background-color: rgba(0,0,0,.03)

.modal-content
  border-radius: 1rem
  border-width: 0

ngb-tabset > ul.nav-tabs > li.nav-item
  margin-bottom: -1px

.bg-primary
  background-color: var(--brand-primary) !important

.btn.active
  background-color: var(--brand-dark) !important

.modal-header
  border-bottom-width: 0

.optional-label
  color: var(--gray-600)

.form-group
  margin-top: .5rem
  margin-bottom: .5rem
  label
    margin-bottom: .35rem

.form-control.ng-dirty,
.form-control.ng-touched
  &.ng-invalid
    border-width: 1px !important
    border-color: var(--danger-600) !important
    &~.invalid-feedback
      color: var(--danger-700)
      display: block

.page-item.active .page-link
  background-color: var(--brand-primary)
  border-color: var(--brand-primary)

.page-link
  color: var(--brand-primary)
