<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-apartment" aria-hidden="true"></i>
      {{ 'companies' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-companies-list></app-companies-list>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-users" aria-hidden="true"></i>
      {{ 'employees' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-profiles></app-profiles>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-construction" aria-hidden="true"></i>
      {{ 'industries' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-industries></app-industries>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
