<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'industries' | transloco }}
    </h4>
    <sk-custom-table
      [items]="industries$ | async"
      [options]="table"
      (addItem)="create($event)"
      (editItem)="edit($event)"
      (removeItem)="delete($event)"
    ></sk-custom-table>
  </div>
</div>
