<ng-container *ngIf="collection; else loading">
  <app-tree-view-item
    *ngFor="let item of collection"
    [item]="item"
    (clickItem)="changeSelection()"
  ></app-tree-view-item>
</ng-container>
<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
