<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'permissions' | transloco }}
    </h4>
    <sk-custom-table
      [items]="permissions$ | async"
      [options]="options"
      (addItem)="createPermission($event)"
      (editItem)="editPermission($event)"
      (removeItem)="deletePermission($event)"
    >
    </sk-custom-table>
  </div>
</div>
