<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div *ngIf="(schedules$ | async)?.length === 0">
      <p class="no-title">{{ 'No company schedules' | transloco }}</p>
      <p class="no-text">{{ 'Wanna add a schedule?' }}</p>
    </div>

    <button (click)="newSchedule()" type="button" class="btn btn-primary">
      {{ 'Add schedule' | transloco }}
    </button>
  </div>
  <br />
  <div class="container">
    <div *ngFor="let schedule of schedules$ | async" class="card schedule-card">
      <a
        [routerLink]="['/dashboard', 'schedules', schedule.id]"
        class="card-body"
      >
        <div class="row">
          <div class="col-md-4">
            <p class="card-title">
              {{ schedule.description }}
            </p>
            <p class="survey-title">{{ schedule.survey.title }}</p>
          </div>
          <div class="col-md-2">
            <span class="completed">{{ schedule.completed }}</span> /
            <span>{{ schedule.participantsCount }}</span>
            {{ 'completions' | transloco }}
          </div>
          <div
            class="col-md-4 d-flex flex-column justify-content-center align-items-end"
          >
            <p class="due-date">
              Vence: {{ schedule.dueDate | date: 'mediumDate' }}
              <span></span>
            </p>
          </div>
          <div class="col-md-2 d-flex flex-column justify-content-center">
            <div>
              <span
                class="float-end badge badge-pill"
                [ngClass]="{
                  'badge-success': schedule.status === 'Active',
                  'badge-false': schedule.status !== 'Active'
                }"
                >{{ schedule.status | transloco }}</span
              >
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
