@import 'variables'

.no-title
  margin-bottom: 0
  color: var(--gray-800)
  font-weight: bold
  font-size: 1rem

.no-text
  color: var(--gray-500)

.schedule-card
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25) !important
  border-radius: 10px
  margin-bottom: 10px
  .card-body
    padding: .8rem 1rem
  .survey-title
    color: var(--gray-500)
  .card-title
    color: var(--gray-900)
    font-weight: 500
    font-size: 1.1rem
  .completed
    font-size: 2.5rem
  .due-date
    color: var(--gray-600)
  p
    margin-bottom: 0
  .card-footer
    text-align: center

.card-columns
  column-count: 4
