<app-survey-form
  *ngIf="survey; else loading"
  [survey]="survey"
  (saveSurvey)="updateSurvey($event)"
></app-survey-form>

<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
