<form [formGroup]="answersForm" (ngSubmit)="saveSet(answersForm.value)">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'answersSet' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">{{ 'Name' | transloco }}</label>
      <input
        type="text"
        formControlName="name"
        name="name"
        id="name"
        class="form-control"
        placeholder="{{ 'Name' | transloco }}"
        aria-describedby="helpId"
      />
    </div>
    <div formArrayName="answers">
      <table class="table">
        <thead>
          <tr>
            <th>Texto</th>
            <th>Orden</th>
            <th>Valor</th>
            <th>Inverso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let answer of answersForm.get('answers')['controls'];
              let i = index
            "
          >
            <ng-container [formGroupName]="i" ]>
              <td>
                <input
                  type="text"
                  formControlName="text"
                  name="text"
                  id="text"
                  class="form-control"
                  placeholder="Texto valor"
                />
              </td>
              <td>
                <select
                  class="custom-select form-control"
                  formControlName="sort"
                  [ngModel]="i + 1"
                  name="sort"
                  id="sort"
                >
                  <option disabled selected>--</option>
                  <option
                    *ngFor="let value of getNumbers()"
                    [ngValue]="value"
                    >{{ value }}</option
                  >
                </select>
              </td>
              <td>
                <select
                  class="custom-select form-control"
                  formControlName="value"
                  [ngModel]="getNumbers().length - i"
                  name="value"
                  id="value"
                >
                  <option disabled selected>--</option>
                  <option
                    *ngFor="let value of getNumbers()"
                    [ngValue]="value"
                    >{{ value }}</option
                  >
                </select>
              </td>
              <td>
                <select
                  class="custom-select form-control"
                  formControlName="reverseValue"
                  [ngModel]="i + 1"
                  name="reverse"
                  id="reverse"
                >
                  <option disabled selected>--</option>
                  <option
                    *ngFor="let value of getNumbers()"
                    [ngValue]="value"
                    >{{ value }}</option
                  >
                </select>
              </td>
              <td class="text-center">
                <i
                  *ngIf="answersForm.get('answers')['controls'].length > 1"
                  class="far fa-trash-alt fa-lg mt-2 text-primary"
                  (click)="removeAnswer(i)"
                  aria-hidden="true"
                ></i>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <a (click)="addAnswer()" class="add-link">
      {{ 'Add answer' | transloco }} +
    </a>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="answersForm.invalid"
      ngbAutoFocus
      class="btn btn-primary"
    >
      {{ 'save' | transloco }}
    </button>
  </div>
</form>
