<form [formGroup]="roleForm" (ngSubmit)="saveRole()">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">{{ 'Name' | transloco }}</label>
          <input
            formControlName="name"
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="admin">{{ 'Is admin' | transloco }}</label>
        <select
          formControlName="isAdmin"
          class="custom-select form-control"
          name="admin"
          id="admin"
        >
          <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
          <option [ngValue]="false">{{ 'No' | transloco }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="company-admin">{{ 'Is company admin' | transloco }}</label>
        <select
          formControlName="isCompanyAdmin"
          class="custom-select form-control"
          name="company-admin"
          id="company-admin"
        >
          <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
          <option [ngValue]="false">{{ 'No' | transloco }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="creator">{{ 'Is creator' | transloco }}</label>
        <select
          formControlName="isCreator"
          class="custom-select form-control"
          name="creator"
          id="creator"
        >
          <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
          <option [ngValue]="false">{{ 'No' | transloco }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="external">{{ 'Is external' | transloco }}</label>
        <select
          formControlName="isExternal"
          class="custom-select form-control"
          name="external"
          id="external"
        >
          <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
          <option [ngValue]="false">{{ 'No' | transloco }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="user">{{ 'Is user' | transloco }}</label>
        <select
          formControlName="isUser"
          class="custom-select form-control"
          name="user"
          id="user"
        >
          <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
          <option [ngValue]="false">{{ 'No' | transloco }}</option>
        </select>
      </div>
    </div>
  </div>
  <h5>{{ 'Permissions' | transloco }}</h5>
  <table class="table">
    <thead>
      <tr>
        <th>{{ 'Access' | transloco }}</th>
        <th>{{ 'Read' | transloco }}</th>
        <th>{{ 'Create' | transloco }}</th>
        <th>{{ 'Edit' | transloco }}</th>
        <th>{{ 'Delete' | transloco }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody formArrayName="permissions">
      <ng-container
        *ngFor="
          let permission of roleForm.get('permissions')['controls'];
          let i = index
        "
      >
        <tr
          rolePermissions
          [group]="permission"
          [permissions$]="permissions$"
          (delete)="removePermission(i)"
        ></tr>
      </ng-container>
    </tbody>
  </table>
  <button
    type="button"
    (click)="addPermission()"
    class="btn btn-sm btn-primary"
  >
    {{ 'Add permission' | transloco }}
    <i class="lni lni-plus" aria-hidden="true"></i>
  </button>

  <button type="submit" class="btn btn-primary float-end">
    <i class="lni lni-save" aria-hidden="true"></i>
    {{ 'Save changes' | transloco }}
  </button>
</form>
