<div class="row d-flex justify-content-center animated fadeIn">
  <div class="text-center">
    <span class="lni lni-spinner-solid lni lni-spin-effect" aria-hidden="true"></span>
    <br />
    Cargando...
  </div>
</div>
