.rounded-circle
  height: 2rem
  margin-right: 5px

.navbar
  padding: 15px 10px
  border: none
  border-radius: 0
  margin-bottom: 15px
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15)

.navbar-brand
  margin-left: 10px
  img
    height: 45px

