<header class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <nav class="container-xxl flex-wrap flex-md-nowrap">
    <a [routerLink]="['/app']" class="navbar-brand">
      <img src="assets/img/logo-light.svg" alt="" height="35" />
      Tips
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLinks"
      aria-controls="navbarLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row-reverse collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="user-dropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              [src]="(auth$ | async)?.photoURL"
              class="rounded-circle"
              alt=""
            />
            {{ (auth$ | async).displayName }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="user-dropdown"
          >
            <li>
              <a [routerLink]="['/']" class="dropdown-item">{{
                'logout' | transloco
              }}</a>
            </li>
            <ng-container *ngIf="(roles$ | async).length > 1">
              <li><div class="dropdown-divider"></div></li>
              <li><h6 class="dropdown-header">Roles</h6></li>
              <li *ngFor="let role of roles$ | async">
                <a class="dropdown-item" (click)="changeRole(role)">{{
                  role.name
                }}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main id="content">
  <div class="container-xxl">
    <router-outlet></router-outlet>
  </div>
</main>
