<div class="d-flex justify-content-between">
  <div class="btn-group">
    <div
      class="btn btn-primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      {{ 'previous' | transloco }}
    </div>
    <div
      class="btn btn-outline-secondary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      {{ 'today' | transloco }}
    </div>
    <div
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >
      {{ 'next' | transloco }}
    </div>
  </div>
  <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
  <div class="btn-group">
    <div
      class="btn btn-primary"
      (click)="viewChange.emit('month')"
      [class.active]="view === 'month'"
    >
      {{ 'month' | transloco }}
    </div>
    <div
      class="btn btn-primary"
      (click)="viewChange.emit('week')"
      [class.active]="view === 'week'"
    >
      {{ 'week' | transloco }}
    </div>
  </div>
</div>
<br />
