<div *ngIf="!setMeasures" class="card">
  <div class="card-body">
    <h4 class="card-title">Formulario #1</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Dimensión</th>
          <th>Pregunta</th>
          <th>Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let measure of measures; let i = index">
          <th scope="row">{{ measure.measure.name }}</th>
          <td>{{ measure.mainQuestion.text }}</td>
          <td>
            <select
              class="form-control custom-select"
              [(ngModel)]="measure.answer"
              name="measure-{{ i }}"
              id="measure-{{ i }}"
            >
              <option [ngValue]="null">--</option>
              <option
                *ngFor="let answer of measure.mainQuestion.answerSet.answers"
                [ngValue]="answer"
                >{{ answer.text }}</option
              >
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      [hidden]="!measuresCompleted()"
      (click)="finishMeasures()"
      type="button"
      class="btn btn-primary float-end"
    >
      Continuar
    </button>
  </div>
</div>
<div class="card" *ngIf="setMeasures">
  <div class="card-body">
    <h4 class="card-title">{{ measures[currentIndex].measure.name }}</h4>
    <table class="table">
      <thead>
        <tr>
          <th>
            Pregunta
          </th>
          <th>Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let response of measures[currentIndex].responses;
            let i = index
          "
        >
          <td>
            {{ response.question.text }}
          </td>
          <td>
            <select
              class="form-control custom-select"
              [(ngModel)]="response.answer"
              name="question-{{ currentIndex }}-{{ i }}"
              id="question-{{ currentIndex }}-{{ i }}"
            >
              <option [ngValue]="null">---</option>
              <option
                *ngFor="let answer of response.question.answerSet.answers"
                [ngValue]="answer"
                >{{ answer.value }}</option
              >
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      [hidden]="!questionsCompleted(currentIndex)"
      (click)="nextMeasure()"
      type="button"
      class="btn btn-primary float-end"
    >
      Continuar
    </button>
  </div>
</div>
