<div class="modal-header">
  <h5 class="modal-title">Seleccionar usuarios</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <sk-custom-table
    [items]="users$ | async"
    [options]="table"
    [selectedItems]="selectedUsers"
    (updateSelection)="selectUsers($event)"
  ></sk-custom-table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveSelection()">
    <i class="lni lni-save" aria-hidden="true"></i>
    {{ 'save' | transloco }}
  </button>
</div>
