<div *ngIf="!noCompletion">
  <div
    id="details-container"
    *ngIf="!isLoading; else loading"
    class="container-fluid"
  >
    <h3>{{ result.profile.name }}</h3>
    <div class="row">
      <div class="col-md-6">
        <canvas
          *ngIf="!isLoading && !noCompletion"
          baseChart
          id="chart-canvas"
          [data]="chartData"
          [labels]="labels"
          [options]="radarChartOptions"
          [type]="radarChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loading-modal></app-loading-modal>
  </ng-template>
  <button
    name="pdf"
    id="pdf"
    (click)="generatePDF()"
    class="btn btn-primary float"
    role="button"
  >
    {{ 'Print PDF report' | transloco }}
  </button>
</div>
<div
  id="no-completion"
  class="d-flex flex-column align-items-center justify-align-center"
  *ngIf="noCompletion"
>
  <img src="assets/img/no-completion.svg" alt="" />
  <p>{{ 'No user completion' | transloco }}</p>
</div>
