<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'User profile' | transloco }}</h4>
    <app-users-form
      *ngIf="user"
      [user]="user"
      (save)="saveChanges($event)"
    ></app-users-form>
  </div>
</div>
