<div class="card">
  <div class="card-body">
    <ng-container *ngIf="company$ | async as company">
      <h4>
        {{ company?.name }}
        <small class="text-muted">({{ company?.fullName }})</small>
      </h4>
      <p class="text-muted">
        <i class="lni lni-calendar" aria-hidden="true"></i>
        {{ 'established' | transloco }}
        {{ company?.establishedDate | date: 'longDate' }}
      </p>
      <span
        class="industries"
        [innerHTML]="company?.industries | array: 'name'"
      ></span>
      <ul ngbNav #nav="ngbNav" class="profiles-card nav-tabs">
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'organization' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-company-organization
              *ngIf="companyId"
              [companyId]="companyId"
            ></app-company-organization>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'employees' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-company-profiles [company]="company"></app-company-profiles>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'schedules' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-company-schedules
              *ngIf="companyId"
              [companyId]="companyId"
            ></app-company-schedules>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Administrators' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-administrators
              *ngIf="companyId"
              [companyId]="companyId"
            ></app-administrators>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Massive charge' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-massive-charge [company]="company"></app-massive-charge>
          </ng-template>
        </li>
      </ul>
      <div class="mt-2" [ngbNavOutlet]="nav"></div>
    </ng-container>
  </div>
</div>
