<div class="card">
  <div class="card-body">
    <sk-custom-table
      [items]="hierarchies$ | async"
      [options]="table"
      (addItem)="createHierarchy($event)"
      (editItem)="editHierarchy($event)"
    ></sk-custom-table>
  </div>
</div>
