<form [formGroup]="scheduleForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="survey">{{ 'survey' | transloco }}</label>
        <select
          formControlName="survey"
          class="custom-select form-control"
          name="survey"
          id="survey"
          [compareWith]="compareFn"
        >
          <option [ngValue]="undefined" [disabled]="true">
            ---Seleccionar---
          </option>
          <option *ngFor="let survey of surveys$ | async" [ngValue]="survey">
            {{ survey.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="description">{{ 'description' | transloco }}</label>
        <input
          formControlName="description"
          type="text"
          class="form-control"
          name="description"
          id="description"
          aria-describedby="helpId"
          placeholder=""
        />
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="start-date">{{ 'startDate' | transloco }}</label>
        <sk-custom-datepicker
          formControlName="startDate"
          name="start-date"
          id="start-date"
        ></sk-custom-datepicker>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="due-date">{{ 'dueDate' | transloco }}</label>
        <sk-custom-datepicker
          formControlName="dueDate"
          name="due-date"
          id="due-date"
        ></sk-custom-datepicker>
      </div>
    </div>
  </div>
</form>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-users" aria-hidden="true"></i>
      {{ 'individual' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <h5 class="card-title">{{ 'assignedUsers' | transloco }}</h5>
      <ng-template #nousers>
        <div class="no-users">
          <img src="assets/img/add-user.svg" alt="" style="height: 200px" />
          <br />
          <button type="button" class="btn btn-primary" (click)="assignUser()">
            {{ 'assignUsers' | transloco }}
          </button>
        </div>
      </ng-template>
      <ng-container *ngIf="schedule.participants; else nousers">
        <div class="card">
          <div class="card-body">
            <button
              type="button"
              (click)="save()"
              class="btn btn-primary float-button"
            >
              {{ 'save' | transloco }}
            </button>
            <sk-custom-table
              [items]="schedule.participants"
              [options]="table"
            ></sk-custom-table>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="assignUser()">
          {{ 'assignUsers' | transloco }}
        </button>
      </ng-container>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-apartment" aria-hidden="true"></i>
      {{ 'byCompany' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <div class="card">
        <div class="card-body">
          <button
            type="button"
            (click)="save()"
            class="btn btn-primary float-button"
          >
            {{ 'save' | transloco }}
          </button>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="company">{{ 'company' | transloco }}</label>
                <select
                  [(ngModel)]="selectedCompany"
                  class="custom-select form-control"
                  name="company"
                  id="company"
                >
                  <option [ngValue]="undefined">
                    {{ '-select-' | transloco }}
                  </option>
                  <option
                    *ngFor="let company of companies$ | async"
                    [ngValue]="company"
                  >
                    {{ company.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
