<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-bar-chart" aria-hidden="true"></i>
      {{ 'surveys' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-surveys-lists></app-surveys-lists>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      {{ 'categories' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-categories></app-categories>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-list" aria-hidden="true"></i>
      {{ 'types' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-surveys-types></app-surveys-types>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-radio-button" aria-hidden="true"></i>
      {{ 'measures' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-measures></app-measures>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="fas fa-list-ol fa-fw"></i>
      Respuestas
    </a>
    <ng-template ngbNavContent>
      <app-answer-sets></app-answer-sets>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-question-circle" aria-hidden="true"></i>
      {{ 'questions' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-questions></app-questions>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
