<app-loading-modal *ngIf="isLoading"></app-loading-modal>
<div style="display: block">
  <canvas
    *ngIf="!isLoading && showData"
    baseChart
    id="chart-canvas"
    [data]="chartData"
    [labels]="labels"
    [options]="radarChartOptions"
    [type]="radarChartType"
  >
  </canvas>
</div>
