<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-7 d-flex flex-column align-items-center justify-content-center"
            >
              <img class="logo" src="assets/img/logo-horizontal.png" />
              <img
                class="img-onboarding"
                src="assets/img/no-surveys.svg"
                alt=""
              />
            </div>
            <div class="col-md-5 form-container">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div
                  (click)="signGoogle()"
                  data-balloon-pos="up"
                  aria-label="Entrar con Google"
                  class="btn btn-outline-primary"
                >
                  <i class="lni lni-google"></i>
                  {{ 'Sign up with Google' | transloco }}
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="signUp()">
                  <div class="form-group">
                    <label for="email">{{ 'email' | transloco }}</label>
                    <input
                      formControlName="email"
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="{{ 'Insert your email' | transloco }}"
                      aria-describedby="helpId"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">{{ 'password' | transloco }}</label>
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="{{ 'Insert your password' | transloco }}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="passwordConfirm">{{
                      'Confirm password' | transloco
                    }}</label>
                    <input
                      formControlName="passwordConfirm"
                      type="password"
                      class="form-control"
                      name="passwordConfirm"
                      id="passwordConfirm"
                      placeholder="{{ 'Repeat your password' | transloco }}"
                    />
                  </div>
                  <button
                    [disabled]="!loginForm.valid"
                    type="submit"
                    class="btn btn-primary"
                  >
                    <i class="lni lni-unlock"></i>
                    {{ 'Sign up' | transloco }}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
