.container
  height: 100vh

.row
  width: 100%

.logo
  height: 60px
  margin-bottom: 20px

.img-onboarding
  height: 400px

.form-group,
.btn
  font-size: 1.2em

.form-container
  .d-flex
    height: 100%
  form
    width: 100%

.btn-outline-primary
  margin-bottom: 15px
