<form [formGroup]="group" class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="access">{{ 'Access' | transloco }}</label>
      <select
        formControlName="access"
        class="custom-select form-control"
        name="access"
        id="access"
        [compareWith]="compareFn"
      >
        <option [ngValue]="''" disabled>
          {{ '---Select one---' | transloco }}
        </option>
        <option
          *ngFor="let permission of permissions$ | async"
          [ngValue]="permission"
        >
          {{ permission.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="read">{{ 'Read' | transloco }}</label>
      <select
        formControlName="read"
        class="custom-select form-control"
        name="read"
        id="read"
      >
        <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
        <option [ngValue]="false">{{ 'No' | transloco }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="create">{{ 'Create' | transloco }}</label>
      <select
        formControlName="create"
        class="custom-select form-control"
        name="create"
        id="create"
      >
        <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
        <option [ngValue]="false">{{ 'No' | transloco }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="edit">{{ 'Edit' | transloco }}</label>
      <select
        formControlName="edit"
        class="custom-select form-control"
        name="edit"
        id="edit"
      >
        <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
        <option [ngValue]="false">{{ 'No' | transloco }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="delete">{{ 'Delete' | transloco }}</label>
      <select
        formControlName="delete"
        class="custom-select form-control"
        name="delete"
        id="delete"
      >
        <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
        <option [ngValue]="false">{{ 'No' | transloco }}</option>
      </select>
    </div>
  </div>
</form>
