<div *ngIf="measure; else loading" class="card">
  <div class="card-body">
    <form [formGroup]="measureForm" (ngSubmit)="saveMeasure()">
      <div class="form-group">
        <label for="name">{{ 'Name' | transloco }}</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="{{ 'newTitle' | transloco }}"
          aria-describedby="helpId"
        />
        <small id="helpId" class="text-muted">
          {{ 'nameRequired' | transloco }}
        </small>
      </div>
      <div class="form-group">
        <label for="description">{{ 'description' | transloco }}</label>
        <textarea
          formControlName="description"
          class="form-control"
          name="description"
          id="description"
          rows="2"
        ></textarea>
      </div>
      <div formArrayName="questions">
        <div
          class="card card-primary question-card"
          *ngFor="
            let question of measureForm.get('questions')['controls'];
            let i = index
          "
        >
          <div class="card-header">
            <span>{{ 'question' | transloco }} {{ i + 1 }}</span>
            <span
              class="lni lni-close float-end"
              *ngIf="measureForm.get['questions']['controls'].length > 1"
              (click)="removeQuestion(i)"
            ></span>
          </div>
          <div [formGroupName]="i" class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="text">{{ 'questionText' | transloco }}</label>
                  <input
                    formControlName="text"
                    type="text"
                    name="text"
                    id="text"
                    class="form-control"
                    placeholder="{{ 'newQuestion' | transloco }}"
                    aria-describedby="helpId"
                  />
                  <small id="helpId" class="text-muted">
                    {{ 'textRequired' | transloco }}</small
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="answer">{{ 'answersSet' | transloco }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="answerSet"
                    name="set"
                    id="set"
                    [compareWith]="compareFn"
                  >
                    <option selected [ngValue]="undefined" disabled>
                      {{ 'selectOne' | transloco }}
                    </option>
                    <option *ngFor="let set of sets$ | async" [ngValue]="set">
                      {{ set.name }}
                    </option>
                  </select>
                  <a class="add-question-link" (click)="openModal()"
                    >{{ 'newAnswerSet' | transloco }} +</a
                  >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="multiple">{{
                    'multipleAnswer' | transloco
                  }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="multiAnswer"
                    name="multiple"
                    id="multiple"
                  >
                    <option value="false" selected>
                      {{ 'no' | transloco }}
                    </option>
                    <option value="true">{{ 'Yes' | transloco }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="reverse">{{ 'reverse' | transloco }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="reverse"
                    name="reverse"
                    id="reverse"
                  >
                    <option value="false" selected>
                      {{ 'no' | transloco }}
                    </option>
                    <option value="true">{{ 'Yes' | transloco }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a (click)="addQuestion()" class="add-question-link">
        {{ 'addQuestion' | transloco }}
      </a>
      <button
        class="btn btn-primary float"
        type="submit"
        [disabled]="!measureForm.valid"
      >
        {{ 'save' | transloco }}
      </button>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
