<div class="card">
  <div class="card-body">
    <app-schedules-form
      *ngIf="schedule; else loading"
      [schedule]="schedule"
      (saveSchedule)="editSchedule($event)"
    >
    </app-schedules-form>
    <ng-template #loading>
      <app-loading-modal></app-loading-modal>
    </ng-template>
  </div>
</div>
