<div class="container">
  <div *ngIf="pendings$ | async; else loading; let pendings" class="row">
    <div *ngFor="let pending of pendings" class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ pending.survey.title }}</h4>
          <p class="text-muted">
            <i class="lni lni-calendar" aria-hidden="true"></i>
            {{ 'due' | transloco }}:
            {{ pending.dueDate | date: 'dd/MM/yyyy' }}
          </p>
          <a
            class="btn btn-sm btn-primary"
            [routerLink]="['survey', pending.id]"
            >{{ 'makeSurvey' | transloco }}</a
          >
        </div>
      </div>
    </div>
    <div
      class="empty-container d-flex flex-column align-items-center justify-content-center"
      *ngIf="pendings.length === 0"
    >
      <img class="no-surveys" src="assets/img/no-surveys.svg" alt="" />
      <p class="empty-text">
        {{ 'You dont have pending surveys, come back later' | transloco }}
      </p>
    </div>
  </div>
  <ng-template #loading>
    <app-loading-modal></app-loading-modal>
  </ng-template>
</div>
