.no-surveys
  height: 250px
  margin-bottom: 30px

.empty-container
  height: calc(100vh - 75px)
  width: 100%

.empty-text
  font-size: 2rem

.waiting-container
  margin-top: 70px
  height: calc(100vh - 375px)
  width: 100%

  .waiting-img
    height: 350px
