<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'roles' | transloco }}
    </h4>
    <sk-custom-table
      [options]="table"
      [items]="roles$ | async"
      (removeItem)="deleteRole($event)"
    ></sk-custom-table>
  </div>
</div>
