<div class="card">
  <div class="card-body">
    <a
      id="new"
      class="btn btn-primary float"
      [routerLink]="['new']"
      role="button"
      ><i class="far fa-calendar-plus"></i> {{ 'newSchedule' | transloco }}</a
    >
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            {{ 'previous' | transloco }}
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            {{ 'today' | transloco }}
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            {{ 'next' | transloco }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'es-PA' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Mes
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Semana
          </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <app-loading-modal></app-loading-modal>
    </ng-template>
    <div *ngIf="events$ | async; else loading; let events">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [weekStartsOn]="1"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="eventClicked($event.event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [weekStartsOn]="1"
          [events]="events"
          (eventClicked)="eventClicked($event.event)"
        >
        </mwl-calendar-week-view>
      </div>
    </div>
  </div>
</div>
