<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-users" aria-hidden="true"></i>
      {{ 'users' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-users-list></app-users-list>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-network" aria-hidden="true"></i>
      {{ 'roles' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-roles></app-roles>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-key" aria-hidden="true"></i>
      {{ 'permissions' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-permissions></app-permissions>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
