<div class="row d-flex align-content-center justify-content-center">
  <div class="col-md-4">
    <form class="card" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div class="card-body">
        <h4 class="card-title">{{ 'Change Password' | transloco }}</h4>
        <div class="form-group">
          <label for="password">{{ 'New password' | transloco }}</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'Insert password' | transloco }}"
          />
        </div>
        <div class="form-group">
          <label for="passwordConfirm">{{
            'Confirm password' | transloco
          }}</label>
          <input
            type="password"
            formControlName="passwordConfirm"
            class="form-control"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="{{ 'Confirm password' | transloco }}"
          />
        </div>
      </div>
      <div class="card-footer justify-content-end">
        <button
          type="submit"
          [disabled]="
            !passwordForm.valid ||
            passwordForm.get('passwordConfirm').value !==
              passwordForm.get('password').value
          "
          class="btn btn-primary"
        >
          {{ 'save' | transloco }}
        </button>
      </div>
    </form>
  </div>
</div>
