<footer
  class="d-flex flex-wrap align-items-center justify-content-between border-top p-3 m-4"
>
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img
        src="assets/img/logo-horizontal.png"
        class="img-fluid logo"
        alt="Tips Logo"
      />
    </a>
    <span class="text-muted">© CICAP</span>
  </div>
</footer>
