<div class="card">
  <div class="card-body">
    <h4 class="card-title">Tipos de Encuestas</h4>
    <sk-custom-table
      [options]="table"
      (addItem)="createType($event)"
      (editItem)="editType($event)"
      (removeItem)="deleteType($event)"
      [items]="types$ | async"
    ></sk-custom-table>
  </div>
</div>
