<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'employees' | transloco }}</h4>
    <sk-custom-table
      [items]="profiles$ | async"
      [options]="table"
      (editItem)="editProfile($event)"
    ></sk-custom-table>
  </div>
</div>
