<div class="modal-header">
  <h4 class="modal-title">{{ 'continueTemp' | transloco }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
  </button>
</div>
<div class="modal-body">
  <table *ngIf="temps" class="table">
    <thead>
      <tr>
        <th>{{ 'title' | transloco }}</th>
        <th>{{ 'createdDate' | transloco }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of temps">
        <td>{{ survey.title }}</td>
        <td>{{ survey.createdDate | date: 'short' }}</td>
        <td>
          <span (click)="select(survey.id)" class="action-button"
            ><i class="lni lni-pencil text-success" aria-hidden="true"></i
          ></span>
          <span (click)="delete(survey.id)" class="action-button">
            <i class="lni lni-trash text-danger" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss('Close click')"
  >
    {{ 'ignore' | transloco }}
  </button>
</div>
