<div class="row back justify-content-end">
  <div
    class="col-md-4 bg-white form-container px-5 d-flex flex-column justify-content-center align-items-center"
  >
    <img class="logo" src="assets/img/logo-horizontal.png" alt="logo" />
    <div
      (click)="signGoogle()"
      data-balloon-pos="up"
      aria-label="Entrar con Google"
      class="btn btn-outline-primary btn-google"
    >
      <i class="fab fa-google" aria-hidden="true"></i>
      {{ 'Sign up with Google' | transloco }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="form-group">
        <label for="email">{{ 'email' | transloco }}</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="{{ 'Insert your email' | transloco }}"
          aria-describedby="helpId"
        />
      </div>
      <div class="form-group">
        <label for="password">{{ 'password' | transloco }}</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder=""
        />
      </div>

      <div class="d-grid gap-2">
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          <i class="lni lni-unlock" aria-hidden="true"></i>
          {{ 'Log in' | transloco }}
        </button>

        <a
          name="sign-up"
          id="sign-up"
          class="btn btn-outline-primary"
          [routerLink]="['sign-up']"
          role="button"
        >
          <i class="lni lni-users" aria-hidden="true"></i>
          {{ 'Sign up' | transloco }}</a
        >
      </div>
    </form>
  </div>
</div>
