.container
  height: 100vh

.row
  width: 100%

.logo
  height: 60px
  margin-bottom: 20px

.img-onboarding
  height: 400px

.form-container
  .d-flex
    height: 100%
  form
    width: 100%

.btn-google
  margin-bottom: 15px

.back
  background-image: url('/assets/img/login-bg.jpg')
  background-size: cover
  margin-left: 0
  margin-right: 0
  min-height: 100vh
