<div *ngIf="schedule$ | async; else loading; let current" class="card">
  <div class="card-body container-fluid">
    <h2 class="card-title">
      {{ current.description }}
      <small>({{ current.survey.title }})</small>
      <span [routerLink]="['edit']" data-balloon-pos="up" aria-label="Editar">
        <i class="bi bi-pencil-square text-success"></i>
      </span>
      <span
        (click)="deleteSchedule(current.id)"
        data-balloon-pos="up"
        aria-label="Borrar"
      >
        <i class="bi bi-trash text-danger" aria-hidden="true"></i>
      </span>
    </h2>
    <p class="text-muted">
      <i class="lni lni-calendar text-success" aria-hidden="true"></i>
      {{ current.startDate | date: 'dd/MM/yyyy':'+0600' }} -
      <i class="lni lni-calendar text-danger" aria-hidden="true"></i>
      {{ current.dueDate | date: 'dd/MM/yyyy':'+0600' }}
    </p>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-chart-pie"></i>
          {{ 'Summary' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <div class="row container-fluid">
            <div class="col-md-4">
              <ngx-charts-advanced-pie-chart [results]="chartData">
              </ngx-charts-advanced-pie-chart>
            </div>
            <div class="col-md-8">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'Name' | transloco }}</th>
                    <th>{{ 'email' | transloco }}</th>
                    <th>{{ 'status' | transloco }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let participant of current.participants">
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.email }}</td>
                    <td>
                      <span
                        class="badge badge-pill"
                        [ngClass]="{
                          'badge-success': participant.status === 'Completed',
                          'badge-false': participant.status === 'Pending'
                        }"
                        >{{ participant.status | transloco }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-chart-area"></i>
          {{ 'Analysis' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-completion-data [schedule]="current"></app-completion-data>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-user"></i>
          {{ 'Results' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="participant">{{
                  'Select participant' | transloco
                }}</label>
                <select
                  class="custom-select form-control"
                  name="participant"
                  [(ngModel)]="participant"
                  id="participant"
                >
                  <option [ngValue]="undefined">
                    {{ '---Select one---' | transloco }}
                  </option>
                  <option
                    *ngFor="let participant of current.participants"
                    [ngValue]="participant"
                  >
                    {{ participant.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <app-completion-details
              *ngIf="participant"
              [completionId]="participant.completionId"
            ></app-completion-details>
          </div>
        </ng-template>
      </li>
    </ul>
    <div class="mt-2" [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
