<div class="container" *ngIf="schedules$ | async; else loading; let schedules">
  <div class="form-check form-switch">
    <input
      type="checkbox"
      id="show-inactive"
      class="form-check-input"
      [(ngModel)]="showInactive"
    />
    <label class="form-check-label text-white" for="show-inactive">{{
      'Show inactive' | transloco
    }}</label>
  </div>
  <div class="row">
    <ng-container *ngFor="let schedule of schedules">
      <div class="col-lg-3" [hidden]="!isActive(schedule) && !showInactive">
        <div
          class="card my-2"
          [class.bg-light]="!isActive(schedule)"
          [class.border-success]="isActive(schedule)"
        >
          <div class="card-body">
            <h5 class="card-title text-primary">
              {{ schedule.description }}
            </h5>
            <span class="company" *ngIf="schedule.company"
              ><i class="fas fa-home fa-lg fa-fw" aria-hidden="true"></i>
              {{ schedule.company.name }}</span
            >
            <p>{{ schedule.survey.title }}</p>
            <p>
              {{ schedule.startDate | date: 'shortDate':'+0600' }} -
              {{ schedule.dueDate | date: 'shortDate':'+0600' }}
            </p>
            <a [routerLink]="[schedule.id]" class="btn btn-primary btn-sm">{{
              'details' | transloco
            }}</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
