<div class="row mt-3">
  <div class="col-md-4">
    <div class="mb-3">
      <input
        class="form-control"
        type="file"
        (change)="onFileChange($event)"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        id="formFile"
      />
    </div>
  </div>
  <div class="col-md-4">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      placement="right"
      popoverTitle="Formato del archivo"
      ngbPopover="Subir un archivo de Excel (.xls, .xlsx o .csv) con 3 columnas, en el siguiente orden: Nombre de colaborador (A), correo (B), y código de cargo (C. opcional). No incluir encabezados.xs"
    >
      Formato
      <i class="far fa-question-circle"></i>
    </button>
  </div>
</div>
<div *ngIf="data?.length" class="container-fluid">
  <h5>
    Vista previa
    <button type="button" (click)="upload()" class="btn btn-primary">
      <i class="fas fa-upload"></i> Subir
    </button>
  </h5>
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Cód. Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <ng-container *ngFor="let item of row; let i = index">
            <td *ngIf="i < 3">{{ item }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
