<div class="min-vh-100 d-flex align-items-center justify-content-center row">
  <form
    class="col-lg-3 col-md-4 col-sm-6"
    [formGroup]="form"
    (ngSubmit)="selectRole()"
  >
    <h2>{{ 'Select default role' | transloco }}</h2>
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let role of roles$ | async">
        <input
          type="radio"
          name="role"
          formControlName="role"
          [value]="role"
          class="form-check-input me-1"
        />
        {{ role.name }}
      </li>
    </ul>
    <div class="d-grid mt-2 mb-5">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        {{ 'Go to app' | transloco }}
      </button>
    </div>
  </form>
</div>
