<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="lni lni-calendar" aria-hidden="true"></i>
      {{ 'Calendario' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-schedules-calendar></app-schedules-calendar>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      Listado
    </a>
    <ng-template ngbNavContent>
      <app-schedules-list></app-schedules-list>
    </ng-template>
  </li>
</ul>
<div class="mt-2" [ngbNavOutlet]="nav"></div>
