<ng-container [formGroup]="group">
  <td>
    <select
      formControlName="access"
      class="custom-select form-control"
      name="access"
      [compareWith]="compareFn"
    >
      <option [ngValue]="''" disabled>
        {{ '---Select one---' | transloco }}
      </option>
      <option
        *ngFor="let permission of permissions$ | async"
        [ngValue]="permission"
      >
        {{ permission.name }}
      </option>
    </select>
  </td>
  <td>
    <select
      formControlName="read"
      class="custom-select form-control"
      name="read"
    >
      <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
      <option [ngValue]="false">{{ 'No' | transloco }}</option>
    </select>
  </td>
  <td>
    <select
      formControlName="create"
      class="custom-select form-control"
      name="create"
    >
      <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
      <option [ngValue]="false">{{ 'No' | transloco }}</option>
    </select>
  </td>
  <td>
    <select
      formControlName="edit"
      class="custom-select form-control"
      name="edit"
    >
      <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
      <option [ngValue]="false">{{ 'No' | transloco }}</option>
    </select>
  </td>
  <td>
    <select
      formControlName="delete"
      class="custom-select form-control"
      name="delete"
    >
      <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
      <option [ngValue]="false">{{ 'No' | transloco }}</option>
    </select>
  </td>
  <td>
    <i
      class="fas fa-trash-alt fa-lg fa-fw text-primary"
      (click)="delete.emit()"
    ></i>
  </td>
</ng-container>
