<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Companies' | transloco }}
    </h4>
    <sk-custom-table
      [items]="companies$ | async"
      [options]="table"
      (addItem)="createCompany($event)"
      (editItem)="editCompany($event)"
      (removeItem)="deleteCompany($event)"
    ></sk-custom-table>
  </div>
</div>
