<div class="card">
  <div class="card-body">
    <span
      class="float-end"
      [routerLink]="['edit']"
      data-balloon-pos="left"
      aria-label="Editar"
    >
      <i class="lni lni-pencil text-success size-sm" aria-hidden="true"></i>
    </span>
    <h2 class="card-title">{{ (survey$ | async)?.title }}</h2>
    <p>{{ (survey$ | async)?.description }}</p>
    <p class="text-success">
      Costo/Creditos: {{ (survey$ | async)?.creditsCost }}
    </p>
  </div>
</div>

<div
  class="card card-primary"
  *ngFor="let measure of (survey$ | async)?.measures"
>
  <div class="card-header">
    {{ measure.name }}
  </div>
  <div class="card-body">
    <p *ngIf="measure.description">{{ measure.description }}</p>
    <h6 *ngIf="measure.mainQuestion?.text" class="card-title">
      <small class="text-muted">Pregunta dimensión:</small>
      {{ measure.mainQuestion?.text }}
    </h6>
    <div class="card" *ngFor="let question of measure.questions">
      <div class="card-header">
        {{ question.title }}
      </div>
      <div class="card-body">
        <i
          class="fas fa-question-circle fa-lg text-primary"
          aria-hidden="true"
        ></i>
        {{ question.text }}
      </div>
    </div>
  </div>
</div>
