<form [formGroup]="userForm" (ngSubmit)="saveForm()">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="username">{{ 'Name' | transloco }}</label>
        <input
          type="text"
          name="username"
          formControlName="userName"
          id="username"
          class="form-control"
          [placeholder]="'User name' | transloco"
        />
        <div *ngIf="userForm.get('userName').errors" class="invalid-feedback">
          {{ 'required message error' | transloco }}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="email">{{ 'Email' | transloco }}</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <div
          class="invalid-feedback"
          *ngIf="userForm.get('email').errors?.required"
        >
          {{ 'required message error' | transloco }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="userForm.get('email').errors?.pattern"
        >
          {{ 'email message error' | transloco }}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="approved">{{ 'Approved' | transloco }}</label>
        <select
          class="custom-select form-control"
          formControlName="approved"
          name="approved"
          id="approved"
        >
          <option [ngValue]="true">{{ 'Sí' }}</option>
          <option [ngValue]="false">{{ 'No' }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="roles">{{ 'Roles' | transloco }}</label>
        <sk-custom-select
          formControlName="roles"
          [items]="roles$ | async"
          [multiple]="true"
          [displayValue]="'name'"
        ></sk-custom-select>
      </div>
    </div>
    <div *ngIf="isCompanyAdmin()" class="col-md-5">
      <div class="form-group">
        <label for="companies">{{ 'Companies' | transloco }}</label>
        <sk-custom-select
          formControlName="companies"
          [items]="companies$ | async"
          [multiple]="true"
          [displayValue]="'name'"
        ></sk-custom-select>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> {{ 'Save changes' | transloco }}
      </button>
    </div>
  </div>
</form>
