.nav-link
  font-size: 1rem

#content
  margin-top: 20px

:host
  display: block
  background-image: linear-gradient(to right, #654ea3, #eaafc8)
  background-size: 100% 60vh
  background-repeat: no-repeat
