<header class="navbar navbar-expand-lg navbar-dark sticky-top">
  <nav class="container-xxl flex-wrap flex-md-nowrap">
    <a [routerLink]="['/dashboard']" class="navbar-brand">
      <img src="assets/img/logo-light.svg" alt="" height="35" />
      Tips
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLinks"
      aria-controls="navbarLinks"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            [routerLink]="['home']"
            [routerLinkActive]="'active'"
            class="nav-link"
            aria-current="page"
          >
            <span [hidden]="active">{{ 'start' | transloco }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['surveys']"
            [routerLinkActive]="'active'"
            class="nav-link"
            aria-current="page"
          >
            <span [hidden]="active">{{ 'surveys' | transloco }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['schedules']"
            [routerLinkActive]="'active'"
            class="nav-link"
            aria-current="page"
          >
            <span [hidden]="active">{{ 'schedules' | transloco }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['companies']"
            [routerLinkActive]="'active'"
            class="nav-link"
            aria-current="page"
          >
            <span [hidden]="active">{{ 'companies' | transloco }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['users']"
            [routerLinkActive]="'active'"
            class="nav-link"
            aria-current="page"
          >
            <span [hidden]="active">{{ 'security' | transloco }}</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="user-dropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
          >
            <img
              [src]="(auth$ | async)?.photoURL"
              class="rounded-circle me-2"
              alt=""
              height="35"
            />
            {{ (auth$ | async)?.displayName }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="user-dropdown"
          >
            <li>
              <a [routerLink]="['change-password']" class="dropdown-item">{{
                'changePassword' | transloco
              }}</a>
            </li>
            <li>
              <a [routerLink]="['/']" class="dropdown-item">{{
                'logout' | transloco
              }}</a>
            </li>
            <ng-container *ngIf="(roles$ | async).length > 1">
              <li><div class="dropdown-divider"></div></li>
              <li><h6 class="dropdown-header">Roles</h6></li>
              <li *ngFor="let role of roles$ | async">
                <a class="dropdown-item" (click)="changeRole(role)">{{
                  role.name
                }}</a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main id="content">
  <div class="container-xxl">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer></app-footer>
