<div class="modal-header">
  <h5 class="modal-title">
    {{ 'New schedule' | transloco }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <app-schedules-form
    [companyId]="companyId"
    [scheduleForm]="schedulesForm"
  ></app-schedules-form>
</div>
<div class="modal-footer">
  <button (click)="saveSchedule()" type="button" class="btn btn-primary">
    {{ 'save' | transloco }}
  </button>
</div>
