<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <img src="assets/img/waiting-access.svg" alt="" />
  <p>{{ 'Your request is being processed, please wait' | transloco }}</p>
  <a
    name="login"
    id="login"
    class="btn btn-primary"
    [routerLink]="['/']"
    role="button"
  >
    {{ 'Back to login' | transloco }}</a
  >
</div>
