.btn
  margin: 20px 0

.answer
  margin: 10px 0

.answer-text
  font-size: 1.4em

.selected
  .answer-text
    font-weight: bold

.instructions-img
  height: 200px

.instructions
  .card-body
    min-height: 75vh

.answers-row
  min-height: 35vh
