<app-survey-measures-form
  *ngIf="measureQuestions && instructionsReady && pendingMeasures && !completed"
  [measures]="completion.measureResponses"
  (finish)="complete()"
>
</app-survey-measures-form>

<div
  *ngIf="questions && instructionsReady && !pendingMeasures && !completed"
  class="card"
>
  <div class="card-body m-3">
    <h6>
      {{ questions[currentIndex]?.measure?.name }}
    </h6>
    <h4 class="card-title mb-3">
      {{ questions[currentIndex]?.text }}
    </h4>

    <div class="row align-items-center answers-row">
      <div
        class="col d-flex justify-content-center align-items-center flex-column"
        *ngFor="let answer of questions[currentIndex].answerSet.answers"
        (click)="select(answer)"
      >
        <i
          class="fa-2x"
          [ngClass]="{
            'far fa-circle text-muted': selected.value !== answer.value,
            'fas fa-check-circle text-success': selected.value === answer.value
          }"
          aria-hidden="true"
        ></i>
        <p>{{ answer.text }}</p>
      </div>
    </div>
    <button
      *ngIf="selected.value"
      type="button"
      (click)="saveAnswer()"
      class="btn btn-primary"
    >
      {{ 'next' | transloco }}
    </button>
    <p>
      <ngb-progressbar
        type="primary"
        [value]="currentIndex + 1"
        [max]="questions.length"
        [height]="'30px'"
        >{{
          'Question of total'
            | transloco: { number: currentIndex + 1, total: questions.length }
        }}</ngb-progressbar
      >
    </p>
  </div>
</div>

<div *ngIf="!instructionsReady && !completed" class="instructions">
  <div class="card">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center
    "
    >
      <h4 class="card-title">
        {{ 'You are about to begin this survey' | transloco }}
      </h4>
      <img
        class="instructions-img"
        src="assets/img/ready-to-start.svg"
        alt=""
      />
      {{ survey.type.instructions }}
      <button
        type="button"
        (click)="begin()"
        class="btn btn-primary btn-rounded"
      >
        {{ 'Yes, Im ready' | transloco }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="completed" class="instructions">
  <div class="card">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <h4 class="card-title">
        {{ 'Congratulations, you have completed this survey' | transloco }}
      </h4>
      <img class="instructions-img" src="assets/img/completed.svg" alt="" />
      <button
        type="button"
        (click)="finish()"
        class="btn btn-primary btn-rounded"
      >
        {{ 'Finish' | transloco }}
      </button>
    </div>
  </div>
</div>
