@import 'variables'

.add-question-link
  font-weight: bold
  margin-top: 5px
  margin-bottom: 10px
  color: var(--brand-primary) !important
  cursor: pointer
  display: inline-block

.question-card
  margin-top: 20px
  margin-bottom: 20px
