<div [formGroup]="measuresForm">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="name">{{ 'Name' | transloco }}</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="{{ 'newTitle' | transloco }}"
          aria-describedby="helpId"
        />
        <div
          class="invalid-feedback"
          *ngIf="measuresForm.get('name')?.errors?.required"
        >
          {{ 'required message error' | transloco }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="measuresForm.get('name')?.errors?.minlength"
        >
          {{ 'min length 5 error message' | transloco }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="weighting">{{ 'Weighting' | transloco }}</label>
        <input
          type="number"
          name="weighting"
          id="weighting"
          formControlName="weighting"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">{{ 'description' | transloco }}</label>
        <textarea
          formControlName="description"
          class="form-control"
          name="description"
          id="description"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <app-question
        *ngIf="hasMeasureQuestion"
        [question]="getChildForm('mainQuestion')"
        [sets$]="sets$"
      ></app-question>
    </div>
    <div class="col-md-12">
      <div formArrayName="questions">
        <div
          class="card card-primary question-card"
          *ngFor="
            let question of measuresForm.get('questions')['controls'];
            let i = index
          "
        >
          <div class="card-header">
            <span>{{ 'question' | transloco }} {{ i + 1 }}</span>
            <span
              class="lni lni-close float-end"
              *ngIf="measuresForm.get('questions')['controls'].length > 1"
              (click)="removeClick(i)"
            ></span>
          </div>
          <div [formGroupName]="i" class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="title">{{ 'Title' | transloco }}</label>
                  <input
                    formControlName="title"
                    type="title"
                    name="title"
                    id="title"
                    class="form-control"
                    placeholder="Título subdimensión / Pregunta"
                    aria-describedby="help-title"
                  />
                  <small id="help-title" class="text-muted">
                    Opcional (colocar para ruedas)</small
                  >
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label for="text">{{ 'questionText' | transloco }}</label>
                  <input
                    formControlName="text"
                    type="text"
                    name="text"
                    id="text"
                    class="form-control"
                    placeholder="{{ 'newQuestion' | transloco }}"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="question.get('text')?.errors?.required"
                  >
                    {{ 'required message error' | transloco }}
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="question.get('text').errors?.minlength"
                  >
                    {{ 'min length 5 error message' | transloco }}
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="weighting-{{ i }}">{{
                    'Weighting' | transloco
                  }}</label>
                  <input
                    formControlName="weighting"
                    type="number"
                    name="weighting-{{ i }}"
                    id="weighting-{{ i }}"
                    class="form-control"
                    placeholder="0"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="answer">{{ 'answersSet' | transloco }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="answerSet"
                    name="set"
                    id="set"
                    [compareWith]="compareFn"
                  >
                    <option selected [ngValue]="undefined" disabled>
                      {{ 'selectOne' | transloco }}
                    </option>
                    <option *ngFor="let set of sets$ | async" [ngValue]="set">
                      {{ set.name }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedback"
                    *ngIf="question.get('answerSet')?.errors?.required"
                  >
                    {{ 'required message error' | transloco }}
                  </div>
                  <a class="add-question-link" (click)="openModal()"
                    >{{ 'newAnswerSet' | transloco }} +</a
                  >
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="multiple">{{
                    'multipleAnswer' | transloco
                  }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="multiAnswer"
                    name="multiple"
                    id="multiple"
                  >
                    <option value="false" selected>
                      {{ 'no' | transloco }}
                    </option>
                    <option value="true">{{ 'Yes' | transloco }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="reverse">{{ 'reverse' | transloco }}</label>
                  <select
                    class="form-control custom-select"
                    formControlName="reverse"
                    name="reverse"
                    id="reverse"
                  >
                    <option value="false" selected>
                      {{ 'no' | transloco }}
                    </option>
                    <option value="true">{{ 'Yes' | transloco }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a (click)="addClick()" class="add-question-link">
        {{ 'addQuestion' | transloco }}
      </a>
    </div>
  </div>
</div>
