<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Edit Role' | transloco }}</h4>
    <app-roles-form
      *ngIf="role; else loading"
      [role]="role"
      (save)="save($event)"
    ></app-roles-form>
  </div>
</div>

<ng-template #loading>
  <app-loading-modal></app-loading-modal>
</ng-template>
