<form [formGroup]="question" div class="card">
  <div class="card-header">Pregunta de dimensión</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="text">{{ 'questionText' | transloco }}</label>
          <input
            type="text"
            name="text"
            id="text"
            class="form-control"
            formControlName="text"
            placeholder="{{ 'newQuestion' | transloco }}"
            aria-describedby="help"
          />
          <div
            class="invalid-feedback"
            *ngIf="question.get('text')?.errors?.required"
          >
            {{ 'required message error' | transloco }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="question.get('text').errors?.minlength"
          >
            {{ 'min length 5 error message' | transloco }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" [hidden]="true">
          <label for="main-weighting">{{ 'Weighting' | transloco }}</label>
          <input
            type="number"
            name="main-weighting"
            id="weighting"
            class="form-control"
            formControlName="weighting"
            placeholder="0"
            value="100"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="answer">{{ 'answersSet' | transloco }}</label>
          <select
            name="set"
            id="set"
            class="form-control custom-select"
            formControlName="answerSet"
            [compareWith]="compareFn"
          >
            <option selected [ngValue]="undefined" disabled>
              {{ 'selectOne' | transloco }}
            </option>
            <option *ngFor="let set of sets$ | async" [ngValue]="set">
              {{ set.name }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="question.get('answerSet')?.errors?.required"
          >
            {{ 'required message error' | transloco }}
          </div>
          <a class="add-question-link" (click)="openModal()"
            >{{ 'newAnswerSet' | transloco }} +</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="multiple">{{ 'multipleAnswer' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="multiAnswer"
            name="multiple"
            id="multiple"
          >
            <option value="false" selected>{{ 'no' | transloco }}</option>
            <option value="true">{{ 'Yes' | transloco }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="reverse">{{ 'reverse' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="reverse"
            name="reverse"
            id="reverse"
          >
            <option value="false" selected>{{ 'no' | transloco }}</option>
            <option value="true">{{ 'Yes' | transloco }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>
