@import 'variables'

.card
  .card-header
    background-color: var(--success-200)
    color: var(--success-800)

.add-question-link
  font-weight: bold
  margin-top: 5px
  margin-bottom: 10px
  color: var(--brand-primary) !important
  cursor: pointer
  display: inline-block
