<nav id="breadcrumb" aria-label="breadcrumb">
  <ol class="breadcrumb p-3">
    <li class="breadcrumb-item">
      <a [routerLink]="['/dashboard']"
        ><i class="bi bi-house"></i>
        {{ 'Home' | transloco }}
      </a>
    </li>
    <li
      *ngFor="
        let route of routes;
        let first = first;
        let last = last;
        let i = index
      "
      class="breadcrumb-item"
      [ngClass]="{ active: last }"
    >
      <ng-container *ngIf="!last && routes[i - 1]">
        <a [routerLink]="[routes[i - 1], route]">{{ route | transloco }}</a>
      </ng-container>

      <ng-container *ngIf="!last && !routes[i - 1]">
        <a [routerLink]="[route]">{{ route | transloco }}</a>
      </ng-container>

      <ng-container *ngIf="last">
        {{ route | transloco }}
      </ng-container>
    </li>
  </ol>
</nav>

<nav
  id="back-navigation"
  [hidden]="isHome"
  role="navigation"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb p-3">
    <li class="breadcrumb-item">
      <a (click)="back()">
        <i class="fas fa-arrow-left" aria-hidden="true"></i> Regresar</a
      >
    </li>
  </ol>
</nav>
