a:link
  text-decoration: none
  font-weight: bolder

@media (max-width: 768px)
  #breadcrumb
    display: none

@media (min-width: 767px)
  #back-navigation
    display: none

#breadcrumb
  margin-right: auto
  margin-left: auto
  .breadcrumb
    color: #fff !important
    box-shadow: none !important
    font-size: 1.25rem
    .breadcrumb-item
      &.active
        color: #fff
        font-weight: bold
