<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'availableSurveys' | transloco }}</h4>
    <sk-custom-table
      [options]="options"
      [items]="surveys$ | async"
    ></sk-custom-table>
  </div>
</div>
