<div class="modal-header">
  <h5 class="modal-title">
    {{ 'Select measure' | transloco }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="measure">{{ 'measures' | transloco }}</label>
        <select
          class="custom-select form-control"
          [(ngModel)]="selected"
          name="measure"
          id="measure"
        >
          <option [ngValue]="undefined">{{ 'Select one' | transloco }}</option>
          <option *ngFor="let measure of measures$ | async" [ngValue]="measure">
            {{ measure.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <ng-container *ngIf="selected">
    <h5 *ngIf="selected.description">{{ 'description' | transloco }}</h5>
    <p>{{ selected.description }}</p>
    <br />
    <h5>{{ 'questions' | transloco }}</h5>
    <ul *ngFor="let question of selected.questions">
      <li>{{ question.text }}</li>
    </ul>
  </ng-container>
</div>
<div class="modal-footer">
  <button
    [disabled]="!selected"
    (click)="selectMeasure()"
    type="button"
    class="btn btn-primary"
  >
    {{ 'Select' | transloco }}
  </button>
</div>
